// Go from the biggest to smallest viewport

@media only screen and (max-width: 2560px) {

}
@media only screen and (max-width: 1920px) {

}
@media only screen and (max-width: 1400px) {

}
@media only screen and (max-width: 600px) {
  // Responsive menu
  #header button.mobile-menu {
    position: relative;
    display: block;
    padding: 0;
    position: fixed;
    width: 54px;
    height: 54px;
    right: 25px;
    top: 68px;
    z-index: 30;
    border: none;
    background: transparent;
    svg {
      position: absolute;
    }
    // Button background
    svg:first-child {
      top: 0;
      left: 0;
      fill: #2A3D4A;
    }
    // Button foreground
    svg:last-child {
      fill: #FFF;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
    }
  }
  .mobile-menu-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: rgba(0,0,0,0.5);
    .mobile-menu {
      display: inline-block;
      position: absolute;
      right: 40px;
      bottom: 20px;
      text-align: right;
      ul li {
        margin-bottom: 10px;
        a {
          font: 42px 'Open Sans', sans-serif;
          font-weight: 300;
          color: #FFF;
          text-decoration: none;
        }
      }
    }
    .close-cross {
      position: absolute;
      cursor: pointer;
      left: 40px;
      bottom: 40px;
      width: 40px;
      height: 40px;
      background: url('img/icon-cross.svg') center center no-repeat;
    }
  }

}
