@import "reset";
@import "tools";

// Basics

body, html {
  width: 100%;
}

// Typography
a, p, span, input, textarea {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
}
p, span {
  font: 19px sans-serif;
  font-weight: normal;
}
a {
  text-decoration: underline;
  color: #333;
  transition: opacity 0.5s;
}

// Icons (using IcoMoon's external vg sprite)

.icon {
  display: inline-block;
  position: relative;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
svg {
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
}

// Header

#header {
  button.mobile-menu {
    display: none;
  }
}


// Content



// Footer



// Responsivity
.mobile-menu-overlay {
  display: none;
}
@import "responsivity";
