@import "reset";
@import "tools";

// Basics

body, html {
  width: 100%;
}

// Typography
a, p, span, input, textarea {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
}
p, span {
  font: 19px sans-serif;
  font-weight: normal;
}
a {
  text-decoration: underline;
  color: #333;
}

// Icons (using IcoMoon's external vg sprite)

.icon {
  display: inline-block;
  position: relative;
  top: 10px;
  width: 32px;
  height: 32px;
  margin-right: 20px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
svg {
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
}

// Header

.header {
  button.mobile-menu {
    display: none;
    position: fixed;
    right: 25px;
    top: 25px;
    z-index: 30;
    padding: 12.5px 0;
    width: 50px;
    height: 50px;
    border: none;
    background: transparent;
  }
}


// Content



// Footer



// Responsivity
.mobile-menu-overlay {
  display: none;
}
@import "responsivity";
